<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"></meta>
<head>
    <title>新規登録</title>
    <link rel="stylesheet" th:href="@{/css/allPage.css}">
    <link rel="stylesheet" th:href="@{/css/registerPage.css}">

</head>
<body class = "register-body">
    <div class = "header">
        <div class = "header-logo">Fusion Body</div>
    </div>
    <h3 class = "register-title">新規登録</h3>
<div th:if="${errorMessage}">
    <p style="color: red;" th:text="${errorMessage}"></p>
</div>
    <form th:action="@{/register}" method="post" class = "user-form">
        <label for="username">Username:</label><br>
        <input class = "user-write" type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input class = "user-write" type="password" id="password" name="password" required><br>
        <label for="email">Email:</label><br>
        <input class = "user-write" type="email" id="email" name="email" required><br>
        <label for="birthday">birthday:</label><br>
        <input class = "user-birthday" type="date" id="birthday" name="birthday" required><br>
    <div>
        <input type="submit" value="登録" class ="register-button">
    </div>
    </form>
    <p class = "login-link">
        <a th:href="@{/login}" class ="link">ログイン</a>  <!-- 新規アカウント作成ページへのリンクを追加 -->   
    </p>
</body>
</html>